.button_red{
    height:50px;
    width: 100px;
    background-color: red
}
.button_red:hover{
    vertical-align: middle;
    background-color: red;
}

.button_red:active{
    cx                                                                                                                              
}